.btn-platform {
  background-color: #ffff;
  color: #6a7888;
  padding: 8px 8px 2px 8px;
}
.btn-platform:hover {
  color: #6a7888;
}
.page-dropdown-menu {
  min-width: 333px;
  max-height: 26rem;
  overflow-y: auto;
  scrollbar-width: thin;
}