.sortable {
  &-box {
    font-family: "Open Sans", sans-serif !important;
    overflow-x: auto;
  }

  &-search-box {
    display: flex;
    align-items: center;
    border-color: #cdddee !important;

    & > input.form-control:focus {
      border: 0 none !important;
    }
  }

  &-search-icon {
    margin: {
      left: 16px;
      right: 8px;
    }
    color: #6A7888;
  }

  &-btn-new {
    background: #1572C2;
    color: #ffffff;
  }
}

